body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.max-content-default {
  max-width: 980px;
  margin: 0 auto;
}

header .max-content-default {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  background-color: #ff9442;
  padding: 50px 30px;
}

header .header-img h1 img {
  width: 150px;
  text-align: left;
}

header .menu .menu-list-item {
  display: inline-block;
  margin: 0 20px;
}

header .menu .menu-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header .menu .menu-link:hover {
  color: #008973;
  transition: 0.4s;
}

header .form form {
  display: flex;
  align-items: center;
}

header .form input {
  padding-left: 20px;
  text-align: start;
  border: 2px solid #008973;
  border-radius: 50px;
  width: 220px;
  height: 50px;
  font-size: 14px;
  margin-right: 5px;
}

header .form .btn-form {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  background-color: #008973;
}

header .form .btn-form:hover {
  background-color: #012821;
  cursor: pointer;
  transition: 0.4s;
}

header .form .material-symbols-outlined {
  color: #f1f1f1;
  cursor: pointer;
}

main .content-introduction {
  margin: 50px 0;
}

main .content-introduction h2 {
  color: #025043;
  font-size: 34px;
  line-height: 42px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 25px;
}

main .content-introduction-img img {
  max-width: 60%;
  display: inline-block;
  border-radius: 20px;
}

main .content-main h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #fff;
  margin: 15px 0;
  text-transform: uppercase;
  background-color: #008973;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
}

main .content-main h4 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  text-transform: uppercase;
  color: #025043;
  margin-top: 30px;
}

main .content-main-list {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #111;
  margin-left: 25px;
  list-style-type: style circle;
}

main .content-main-list-ol {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #111;
  margin-left: 25px;
  list-style-type: decimal;
}

main .content-main-final {
  margin-bottom: 50px;
}

main .content-main-final h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #025043;
  margin-top: 30px;
  margin-bottom: 15px;
}

main .content-main-final p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #111;
}

main .content-main-final p a {
  color: #008973;
}

main .content-main-final p a:hover {
  color: #ff9442;
  transition: 0.4s;
  cursor: pointer;
}

footer {
  background-color: #f1f1f1;
  padding: 50px 30px;
}

footer .content-footer-img {
  max-width: 80px;
  margin: 0 auto;
}

footer p {
  color: #025043;
  font-size: 16px;
  font-weight: 28px;
  letter-spacing: 1px;
  font-weight: 400;
  margin-top: 15px;
  text-align: center;
}
