body {
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

.max-content-default {
  max-width: 980px;
  margin: 0 auto;
}

header .max-content-default {
  display: flex;
}

header {
  background-color: #008973;
  padding: 50px 30px;
}

header .header-img h1 img {
  width: 150px;
  text-align: left;
}

header .menu .menu-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 50px;
}

/* #main {
  margin: 0 auto;
  width: 940px;
  padding: 50px 0;
}

#main h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 34px;
  text-transform: uppercase;
  margin: 20px 0;
  color: #ff0918;
}

.content-img {
  width: 400px;
}

#main h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
  color: #ff0918;
}

#main .content-list h4 {
  background-color: #008973;
  padding: 15px;
  text-align: center;
  color: #f1f1f1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  margin: 20px 0;
}

.content .content-list li {
  margin: 10px 20px;
}

#main .ingredients {
  margin-top: 80px;
}

#main .prepare {
  margin-top: 80px;
}

#main .content-final h3 {
  text-transform: none;
  font-weight: bold;
  color: #ff0918;
}

#main p a {
  color: #ff0918;
  text-decoration: none;
}

#main p a:hover {
  color: #008973;
  text-decoration: underline;
}

#main p {
  margin: 10px 0;
}

.content-final {
  margin-top: 80px;
  margin-bottom: 40px;
}

#footer {
  background-color: #fff;
  margin: 0 auto;
  padding: 40px 250px;
  font-size: 16px;
  text-align: center;
}

#footer img {
  margin: 0 auto;
  text-align: center;
  width: 50px;
  padding-bottom: 10px;
} */
